/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/*VARIABLES*/

:root {
  --header-heigth: 5rem;
  /*COLORS*/

  --green: #6ac17d;
  --sky-blue: #30E3CA;
  --blue: #11999E;
  --darker: #40514E;

  /*Title*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

.section {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: calc(5rem + var(--header-heigth)) 0;
}

/*HEADER*/

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-heigth);
  background: #ffff;
  
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--green);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  
}

.logo {
  font: 700 var(--subtitle-font-size) var(--title-font);
  color: var(--darker);
}

.logo span {
  color: var(--green);
}

#menu {
  opacity: 0;
  visibility: hidden;
}

.icon-menu {
  width: 1.5rem;
  color: var(--green);
}

.icon-close {
  width: 1.5rem;
  display: none;
  opacity: 0;
}


/*Apresentação*/



.image {
  position: relative;
  left: -24px;
  margin-bottom: 2rem;
}

.image::before{
  content: "";
  width: 100%;
  height: 100%;
  background: red;
  
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--darker);
  margin-bottom: 1rem;
  text-align: center;
}

#desenvolvimento div p {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: #767676;
  text-align: center;
}
