/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

html{
  scroll-behavior: smooth;
}

/*VARIABLES*/

:root {
  --header-heigth: 5rem;
  /*COLORS*/

  --green: #6ac17d;
  --sky-blue: #30E3CA;
  --blue: #11999E;
  --darker: #40514E;

  /*Title*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

.container{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: calc(10rem + var(--header-heigth)) 0;
}

.divider-1 {
  background: linear-gradient(270deg, #F6F7F5 0%, rgba(18, 238, 15, 0.541) 100%);
  width: 100%;
  height: 1px;
}

/*HEADER*/

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;

  top: 0;
  left: 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--green);
  transition: .4s;
}

#header.scroll {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-heigth);
  background: #F9F9F9;
  width: 100%;
  padding: 0 1.5rem;

}

#header nav a.logo {
  font: 700 var(--subtitle-font-size) var(--title-font);
  color: var(--darker);
}

#header nav a span {
  color: var(--green);
}

.menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.5s;
}

nav ul{
  display: none;
}

/*mostrar menu*/

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: #00856FDF;
  backdrop-filter: blur(10px);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
  
}

.icon-menu {
  width: 1.5rem;
  color: var(--green);
  filter: invert(70%) sepia(17%) saturate(984%) hue-rotate(81deg) brightness(95%) contrast(87%);
}

.icon-close {
  width: 1.5rem;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav.show .icon-menu {
  opacity: 0;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
  filter: invert(70%) sepia(17%) saturate(984%) hue-rotate(81deg) brightness(95%) contrast(87%);
}

nav.show ul {
  gap: 4rem;
  align-items: center;
  transition: .2s;
}

nav.show ul li a{
  font: 700  var(--title-font-size) var(--title-font);
  color: var(--darker);
  text-align: center;
}

/*Apresentação*/

#desenvolvimento {
  overflow: hidden;
}

#desenvolvimento.container{
  margin: 0;
}

#desenvolvimento .image::after {
  display: block;
  content: "";
  width: 100%;
  background: var(--green);
  z-index: 0;
  position: absolute;
  height: 100%;
  top: -16.8%;
  left: 16.7%;
  border-radius: 6px;
}

#desenvolvimento .image  {
  position: relative;
  margin-bottom: 2rem;
  left: -24px;
  border-radius: 6px;
  
}

#desenvolvimento .image img{
  position: relative;
  z-index: 1;
}

.text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--darker);
  margin-bottom: 1rem;
  
}

#desenvolvimento div p {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: #767676;
  margin-bottom: 2rem;
  
}
