/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

/*VARIABLES*/

:root {
  --header-heigth: 5rem;
  /*COLORS*/

  --green: #6ac17d;
  --sky-blue: #30e3ca;
  --blue: #11999e;
  --darker: #40514e;

  /*Title*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

.text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--darker);
  margin-bottom: 1rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: calc(5rem + var(--header-heigth)) 0;
}

.divider-1 {
  background: linear-gradient(
    270deg,
    #f6f7f5 0%,
    rgba(18, 238, 15, 0.541) 100%
  );
  width: 100%;
  height: 1px;
}

.divider-2 {
  background: linear-gradient(
    270deg,
    #0bfc06 0%,
    rgba(255, 255, 255, 0.34) 100%
  );
  width: 100%;
  height: 1px;
}

/*HEADER*/

#header {
  position: sticky;
  width: 100%;
  z-index: 100;
  display: flex;

  top: 0;
  left: 0;

  border-bottom: 1px solid var(--green);
  transition: 0.4s;
}

#header.scroll {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-heigth);
  background: #f9f9f9;
  width: 100%;
  padding: 0 1.5rem;
}

#header nav a.logo {
  font: 700 var(--subtitle-font-size) var(--title-font);
  color: var(--darker);
}

#header nav a span {
  color: var(--green);
}

/*
//menu antigo
.menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.5s;
}

nav ul{
  display: none;
}

//mostrar menu

nav.show {
  overflow-y: hidden;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: #00856FDF;
  backdrop-filter: blur(10px);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
 

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

nav.show .menu ul li a {
  color: var(--green);
  
}

nav.show .icon-menu {
  opacity: 0;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
  filter: invert(70%) sepia(17%) saturate(984%) hue-rotate(81deg) brightness(95%) contrast(87%);
}

nav.show ul {
  gap: 4rem;
  align-items: center;
  transition: .2s;
}

nav.show ul li a{
  font: 700  var(--title-font-size) var(--title-font);
  color: var(--darker);
  text-align: center;
}
*/
.icon-menu {
  width: 1.5rem;
  color: var(--green);
  filter: invert(70%) sepia(17%) saturate(984%) hue-rotate(81deg)
    brightness(95%) contrast(87%);
}

.icon-close {
  width: 1.5rem;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav .menu {
  transition: 0.4s;
  opacity: 0;
  visibility: visible;
  background: linear-gradient(180deg, #00856fef, #00856f90);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -100vh;
  left: 0;
  overflow: hidden;
  display: grid;
  place-content: center;
}
nav .menu ul {
  display: grid;
}

nav .icon-menu {
  opacity: 1;
}

nav .icon-close {
  visibility: visible;
  opacity: 0;
  top: 1.5rem;
  filter: invert(70%) sepia(17%) saturate(984%) hue-rotate(81deg)
    brightness(95%) contrast(87%);
}

nav.show ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  transition: 0.2s;
}

nav ul li a {
  font: 700 var(--title-font-size) var(--title-font);
  text-align: center;
  /*color: var(--green);*/
  color: #f0f0f0;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.12))
    drop-shadow(0 1px 2px rgba(0, 0, 0, 0.24)); /* <-- só pra destacar um pouco o as opções do menu */
}

/* mostrar menu */

nav.show .icon-menu {
  opacity: 0;
}

nav.show .icon-close {
  opacity: 1;
}

nav.show .menu {
  top: 0;
  opacity: 1;
}

/*Apresentação*/

#desenvolvimento {
  overflow: hidden;
  background: #f9f9f9;
}

#desenvolvimento.container {
  margin: 0;
}

#desenvolvimento .image::after {
  display: block;
  content: "";
  width: 100%;
  background: linear-gradient(45deg, var(--green), #85cc95);
  z-index: 0;
  position: absolute;
  height: 100%;
  top: -16.8%;
  left: 16.7%;
  border-radius: 6px;
}

#desenvolvimento .image {
  position: relative;
  margin-bottom: 2rem;
  left: -24px;
}

#desenvolvimento .image img {
  position: relative;
  z-index: 1;
  border-radius: 6px;
}

#desenvolvimento div p {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: #767676;
  margin-bottom: 2rem;
}

/* ========================RECICLAGEM=======================*/

#reciclagem .image {
  position: relative;
  z-index: 1;
}

#reciclagem .image::after {
  display: block;
  content: "";
  width: 75%;
  background: var(--darker);
  z-index: 0;
  position: absolute;
  height: 100%;
  top: -10%;
  left: 0;
}

#reciclagem .image img {
  z-index: 1;
  position: relative;
}

/*================================= Projetos ======================*/

#projetos .title {
  margin-bottom: 2rem;
}

#projetos .carrousel {
  width: 75%;
  height: 50%;
  margin: 0 auto;
  position: relative;
}

#projetos .carrouselImage {
  border-radius: 6px;
  height: 100%;
  width: 100%;
}

#projetos .icon-previous {
  position: absolute;
  width: 2rem;
  top: 50%;
  transform: rotatey(180deg);
  left: 0.625rem;
  cursor: pointer;
  z-index: 999;
}

#projetos .icon-next {
  position: absolute;
  width: 2rem;
  top: 50%;
  right: 0.625rem;
  color: red;
  cursor: pointer;
  z-index: 999;
}

#projetos .carrousel-item {
  width: 100%;
  height: 250px;
  display: none;

  position: relative;
}

#projetos .carrousel-item h1 {
  position: absolute;
  color: red;
}

#projetos .carrousel-item img {
  object-fit: cover;
  object-position: center center;
}

#projetos .carrousel #counter {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  gap: 5px;
}

#projetos .carrousel #counter .counter {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: gray;
}

#projetos .carrousel #counter .active {
  background: blue;
}

#projetos .visible {
  display: flex;
  align-items: center;
  justify-content: center;
}
